In [7]:
import pandas as pd

df = pd.read_csv('basketball_stats.csv')

print(df.head())

          Player       Team  Year  Pts_Game  Reb_Game  Ast_Game    FG%    3P%  \
0   LeBron James  Cavaliers  2010      29.7       7.3       8.6  0.503  0.333
1   Kevin Durant    Thunder  2014      32.0       7.4       5.5  0.503  0.391
2  Stephen Curry   Warriors  2016      30.1       5.4       6.7  0.504  0.454

     FT%
0  0.767
1  0.864
2  0.908

In [14]:
#unpivot the table using the melt() function
df_tidy = df.melt(id_vars=['Player', 'Team', 'Year'], var_name='Statistic', value_name='Value')

#split the Statistic column into separate columns for each variable
df_tidy[['Stat', 'Measure']] = df_tidy['Statistic'].str.split('_', expand=True)

#drop the original Statistic column
df_tidy = df_tidy.drop('Statistic', axis=1)

#rearrange the columns
df_tidy = df_tidy[['Player', 'Team', 'Year', 'Stat', 'Measure', 'Value']]

print (df_tidy)

           Player       Team  Year Stat Measure   Value
0    LeBron James  Cavaliers  2010  Pts    Game  29.700
1    Kevin Durant    Thunder  2014  Pts    Game  32.000
2   Stephen Curry   Warriors  2016  Pts    Game  30.100
3    LeBron James  Cavaliers  2010  Reb    Game   7.300
4    Kevin Durant    Thunder  2014  Reb    Game   7.400
5   Stephen Curry   Warriors  2016  Reb    Game   5.400
6    LeBron James  Cavaliers  2010  Ast    Game   8.600
7    Kevin Durant    Thunder  2014  Ast    Game   5.500
8   Stephen Curry   Warriors  2016  Ast    Game   6.700
9    LeBron James  Cavaliers  2010  FG%    None   0.503
10   Kevin Durant    Thunder  2014  FG%    None   0.503
11  Stephen Curry   Warriors  2016  FG%    None   0.504
12   LeBron James  Cavaliers  2010  3P%    None   0.333
13   Kevin Durant    Thunder  2014  3P%    None   0.391
14  Stephen Curry   Warriors  2016  3P%    None   0.454
15   LeBron James  Cavaliers  2010  FT%    None   0.767
16   Kevin Durant    Thunder  2014  FT%    None   0.864
17  Stephen Curry   Warriors  2016  FT%    None   0.908

In [20]:
#group the data to calculate the average value
df_stats = df_tidy.groupby(['Player', 'Team', 'Year', 'Stat'])['Value'].mean().reset_index()

#filter the data to only include Pts and Reb stats
df_pts_reb = df_stats[df_stats['Stat'].isin(['Pts', 'Reb'])]

#create a pivot table to compare the performance of each player across different years and teams
df_pivot = pd.pivot_table(df_pts_reb, values='Value', index=['Player', 'Team'], columns=['Year', 'Stat'])

print(df_pivot)

Year                     2010       2014       2016
Stat                      Pts  Reb   Pts  Reb   Pts  Reb
Player        Team
Kevin Durant  Thunder     NaN  NaN  32.0  7.4   NaN  NaN
LeBron James  Cavaliers  29.7  7.3   NaN  NaN   NaN  NaN
Stephen Curry Warriors    NaN  NaN   NaN  NaN  30.1  5.4

In [21]:
#group the data by team and stat, and calculate the average value
df_team = df_tidy.groupby(['Team', 'Stat'])['Value'].mean().reset_index()

#sort the data by team and stat
df_team = df_team.sort_values(['Team', 'Value'], ascending=[True, False])

print("Statistics by Team:")

print(df_team)

Statistics by Team:
         Team Stat   Value
4   Cavaliers  Pts  29.700
1   Cavaliers  Ast   8.600
5   Cavaliers  Reb   7.300
3   Cavaliers  FT%   0.767
2   Cavaliers  FG%   0.503
0   Cavaliers  3P%   0.333
10    Thunder  Pts  32.000
11    Thunder  Reb   7.400
7     Thunder  Ast   5.500
9     Thunder  FT%   0.864
8     Thunder  FG%   0.503
6     Thunder  3P%   0.391
16   Warriors  Pts  30.100
13   Warriors  Ast   6.700
17   Warriors  Reb   5.400
15   Warriors  FT%   0.908
14   Warriors  FG%   0.504
12   Warriors  3P%   0.454

In [22]:
#group the data by position and stat, and calculate the average value
df_pos = df_tidy.groupby(['Measure', 'Stat'])['Value'].mean().reset_index()

#sort the data by position and stat
df_pos = df_pos.sort_values(['Measure', 'Value'], ascending=[True, False])

print("\nStatistics by Position:")

print(df_pos)

Statistics by Position:
  Measure Stat      Value
1    Game  Pts  30.600000
0    Game  Ast   6.933333
2    Game  Reb   6.700000